body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    width: 400px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    padding: 30px 40px;
}

img {
    width: 150px;
}